body,
html {
  height: 100%;
  background-image: url("Animals_pictures/background4.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#related-animals {
  display: flex;
  gap: 20px 40px;
  justify-content: center;
  flex-wrap: wrap;
  margin: 30px;
}
.related-animalsClass {
  display: flex;
  content: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
  border-color: rgb(127, 157, 255);
  /**background-color: rgb(123, 234, 229);**/
  background-color: #fffbc1;
  box-shadow: inset 0 -3em 3em rgba(209, 236, 209, 0.3), 0 0 0 1px #c27b58,
    0.3em 0.3em 1em rgba(139, 237, 128, 0.477);
  height: 430px;
  width: 230px;
  color: #25591e;
}

.card-body {
  text-align: center;
}

.animalForShow {
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 40px;
  padding: 30px;
  border-radius: 10px;
  text-shadow: 2px 2px 3px #25591e;
}

#animal-image {
  float: right;
  margin: 20px;
  height: 400px;
  width: 320px;
}

#Visit,
#feed-animal,
#closeFeed {
  --bs-btn-color: #fff;
  --bs-btn-bg: #b67352;
  --bs-btn-border-color: #3f561e;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #9bcf53;
  --bs-btn-hover-border-color: #9bcf53;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #ffffff;
  --bs-btn-active-bg: #9bcf53;
  --bs-btn-active-border-color: #25360e;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #9bcf53;
  --bs-btn-disabled-border-color: #9bcf53;
  border-radius: 15px;
  margin: 20px;
}

#related-animals {
  margin: 60px;
}

.navbar {
  --bs-bg-opacity: 1;
  background-color: #fffbc1 !important;
}

#feedDialog {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 20px;
}

.card-img-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 180px;
  width: 150px;
  object-fit: contain;
  align-self: center;
  transform: translateX(48%);
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translate(-10px, 10px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.visited-animal {
  display: flex;
  content: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
  border-color: rgb(127, 157, 255);
  /**background-color: rgb(123, 234, 229);**/
  background-color: #fffbc1;
  box-shadow: inset 0 -3em 3em rgba(209, 236, 209, 0.3), 0 0 0 2px #b67352,
    0.3em 0.3em 1em rgba(17, 59, 12, 0.6);
  height: 340px;
  width: 210px;
  transform: scale(0.8);
  opacity: 0.85;
  margin-top: 60px;
}
