#close-button,
#logout-button {
  cursor: pointer;
  padding: 5px 10px;
  margin-top: 15px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  border-radius: 5px;
}

body {
  height: 1000px;
  background: url("../Animals_pictures/visitorsBack.jpg") no-repeat center;
  background: rgb(22, 214, 131);
  background: linear-gradient(74deg, #fff67e 18%, #c0ea7cb4);
  padding: 20px 80px;
}
#placeholder {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  gap: 15px;
  flex-wrap: wrap;
}

#btnLogOut {
  margin-left: auto; /* Pushes the button to the right */
}
#query-input {
  width: 100%;
}

.visitors-card {
  max-width: 250px;
  overflow: hidden;
  background: white;
  border-radius: 20px;
  animation: fade-in 0.4s ease-in forwards;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.visitors-card img {
  justify-self: center;
  width: 100%;
  max-width: 100%;
  object-fit: contain;
  max-height: 180px;
  margin: 0 auto;
  max-width: 250px;
}

.visitors-card p {
  text-align: center;
  padding: 2px 6px;
}

#btnZoo,
#btnLogOut,
#clear-filter-btn,
#logoutButton,
#closeBtn {
  color: #fff;
  background-color: #9bcf53;
  border-color: #ededed;
  border-radius: 15px;
  margin: 20px;
}

.empty-result {
  color: #1a5d1a;
  border-color: #1a5d1a;
  background-color: #fffbc1;
  border-radius: 15px;
  width: auto;
  box-shadow: inset 0 -3em 3em rgba(236, 234, 128, 0.3), 0 0 0 2px white,
    0.3em 0.3em 1em #9bcf53;
  padding: 10px;
}

#loginModal {
  display: flex;
  width: 50%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 50%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translate(-10px, 10px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
