body {
  background-size: cover;
  min-height: 100vh;
  background-size: 100%;
  justify-content: center;
  background-color: rgb(7, 196, 133);
}

#animal-cards {
  display: flex;
  align-items: center;
  gap: 10px 40px;
  justify-content: center;
  flex-wrap: wrap;
  margin: 30px;
}

#zoo-title {
  text-align: center;
  width: 100%;
  margin-top: 20px;
}

.animal-class {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
  border-color: rgb(127, 157, 255);
  background-color: bisque;
}

.card-body {
  text-align: center;
}

.card-img-top {
  display: flex;
}

#Visit {
  --bs-btn-color: #fff;
  --bs-btn-bg: #13bb62;
  --bs-btn-border-color: #13bb62;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #13bb62;
  --bs-btn-hover-border-color: #13bb62;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #ffffff;
  --bs-btn-active-bg: #13bb62;
  --bs-btn-active-border-color: #13bb62;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #13bb62;
  --bs-btn-disabled-border-color: #13bb62;
  margin: 20px;
}

input.form-control {
  width: 250px;
}

.input-group {
  width: 250px;
}
.inputGroup-sizing-sm {
  width: 250px;
}

.wap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.filterDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  background-color: rgb(15, 249, 237);
  width: 1000px;
  margin: 40px;
  box-shadow: inset 0 -3em 3em rgba(209, 236, 209, 0.3), 0 0 0 2px white,
    0.3em 0.3em 1em rgba(25, 139, 12, 0.6);
}
