body {
  background-size: cover;
  background-size: 100%;
  justify-content: center;
  height: 100%;
  background-image: url("Animals_pictures/leaf3.jpg");
  background-position: center;
  background-repeat: repeat;
}

#animal-cards {
  display: flex;
  align-items: center;
  gap: 40px 40px;
  justify-content: center;
  flex-wrap: wrap;
  margin: 30px;
  padding: 30px;
}

#zoo-title {
  font-family: "Kaushan Script", cursive;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  width: 200%;
  margin: 50px;
  font-size: 55px;
  color: #1a5d1a;
  text-shadow: 2px 2px 5px;
}

.animal-class {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
  border-color: rgb(127, 157, 255);
  background-color: #fffbc1;
  box-shadow: inset 0 -3em 3em rgba(209, 236, 209, 0.3), 0 0 0 2px white,
    0.3em 0.3em 1em #416d19;
}

.card-body {
  text-align: center;
}

.card-img-top {
  display: flex;
}

#Visit,
#clear-filters-btn,
#clear-filter-btn {
  --bs-btn-color: #fff;
  --bs-btn-bg: #9bcf53;
  --bs-btn-border-color: #294009;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #9bcf53;
  --bs-btn-hover-border-color: #294009;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #ffffff;
  --bs-btn-active-bg: #9bcf53;
  --bs-btn-active-border-color: #294009;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #9bcf53;
  --bs-btn-disabled-border-color: #294009;
  border-radius: 15px;
  margin: 20px;
}

input.form-control {
  width: 250px;
}

.input-group {
  width: 250px;
}
.inputGroup-sizing-sm {
  width: 250px;
}

.wap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.filterDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  background-color: #fffbc1;
  width: 1000px;
  margin: 60px;
  box-shadow: inset 0 -3em 3em rgba(209, 236, 209, 0.3), 0 0 0 2px white,
    0.3em 0.3em 1em #9bcf53;
  padding: 2px;
}

#navbarID {
  background-color: #fffbc1 !important;
}

.empty-result {
  color: #1a5d1a;
  border-color: #1a5d1a;
  background-color: #fffbc1;
  border-radius: 15px;
  width: auto;
  box-shadow: inset 0 -3em 3em rgba(209, 236, 209, 0.3), 0 0 0 2px white,
    0.3em 0.3em 1em #9bcf53;
  padding: 10px;
}
